In [1]:
import pandas as pd
import numpy as np
import os,os.path
import datetime
import json
import sys

In [15]:
path = "/home/fanghaizhou/project/EMDS_config_maker/build/parquet_result/candle_stick/period_1/09_30_00_000.parquet"
pd.set_option('display.float_format', '{:.5f}'.format)
pd.read_parquet(path)

,securityid,datetime,cjb,bcjb,scjb,volume_nfq,bvolume_nfq,svolume_nfq,amount,bamount,samount,lowprice_nfq,highprice_nfq,openprice_nfq,closeprice_nfq
0,b'600000.XSHG',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,15.53472,15.53472
1,b'600004.XSHG',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,2.61873,2.61873
2,b'600005.XSHG',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,5.33400,5.33400
3,b'600006.XSHG',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,3.76181,3.76181
4,b'600007.XSHG',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.99148,1.99148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5220,b'301550.XSHE',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000
5221,b'301548.XSHE',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000
5222,b'301500.XSHE',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000
5223,b'301520.XSHE',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000
5224,b'301558.XSHE',2023-09-28 01:30:00,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000

In [7]:
pd.read_parquet(path)

,securityid,datetime,Sv,Scjbs,Bv,Bcjbs,tradv,cjbs,Samt,Bamt,...,Svwap,Bvwap,S_orderDecay,Scjbs_orderDecay,D_orderDecay,Dcjbs_orderDecay,S_decaySlope,Scjbs_decaySlope,D_decaySlope,Dcjbs_decaySlope
0,b'600000.XSHG',2023-09-28 01:31:00,64500.00000,32.00000,33200.00000,47.00000,97700.00000,79.00000,461123.00000,237542.00000,...,7.14919,7.15488,0.00455,0.02198,0.95294,0.42424,-2600.00000,-2.50000,8100.00000,7.00000
1,b'600004.XSHG',2023-09-28 01:31:00,99100.00000,87.00000,68600.00000,77.00000,167700.00000,164.00000,1113893.00000,771545.00000,...,11.24009,11.24701,2.19608,3.25000,1.26277,2.33333,-9730.00000,-9.10000,2760.00000,-1.30000
2,b'600005.XSHG',2023-09-28 01:31:00,99100.00000,87.00000,68600.00000,77.00000,167700.00000,164.00000,1113893.00000,771545.00000,...,11.24009,11.24701,2.19608,3.25000,1.26277,2.33333,-9730.00000,-9.10000,2760.00000,-1.30000
3,b'600006.XSHG',2023-09-28 01:31:00,42200.00000,40.00000,181700.00000,195.00000,223900.00000,235.00000,232524.00000,1002388.00000,...,5.51005,5.51672,0.98529,2.10000,2.04866,1.50000,100.00000,-5.50000,61050.00000,58.50000
4,b'600007.XSHG',2023-09-28 01:31:00,2400.00000,16.00000,700.00000,5.00000,3100.00000,21.00000,46585.00000,13604.00000,...,19.41042,19.43429,1.66667,2.00000,2.00000,1.00000,-114.28571,-0.67857,60.71429,0.39286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5220,b'301550.XSHE',2023-09-28 01:31:00,174609.00000,354.00000,343460.00000,634.00000,518069.00000,988.00000,8025896.99000,15846390.03000,...,45.96497,46.13751,1.00000,0.50000,0.07000,0.25000,-29.10157,-0.04758,97.66265,0.18110
5221,b'301548.XSHE',2023-09-28 01:31:00,111231.00000,329.00000,68202.00000,228.00000,179433.00000,557.00000,7372622.71000,4522398.15000,...,66.28209,66.30888,1.16667,0.38462,0.75000,0.50000,-38.69622,-0.12779,33.02923,0.08202
5222,b'301500.XSHE',2023-09-28 01:31:00,207300.00000,378.00000,113700.00000,158.00000,321000.00000,536.00000,5369315.00000,2954057.00000,...,25.90118,25.98115,11.12903,6.76471,0.67717,0.66667,-667.98030,-1.35665,149.45813,0.29261
5223,b'301520.XSHE',2023-09-28 01:31:00,260209.00000,858.00000,332191.00000,1374.00000,592400.00000,2232.00000,21157611.50000,27061518.31000,...,81.31007,81.46373,0.00000,0.00000,3.58997,2.68750,-4.49432,-0.00616,-1.44283,-0.00575
5224,b'301558.XSHE',2023-09-28 01:31:00,1806211.00000,3658.00000,3381911.00000,6120.00000,5188122.00000,9778.00000,37372083.38000,70159688.72000,...,20.69087,20.74558,0.00000,0.00000,0.02839,0.04476,-113.46269,-0.22910,198.30264,0.36737